@import 'reset.css';
body{
  background:#ABC0E4;
}

header{
  height: 150px;
  border-bottom: 1px solid #000;
  width: 100%;
  background-image: linear-gradient( #d0dcf0, #d0dcf0, #ABC0E4,#ABC0E4);
  box-shadow: 0px 0px 15px #000;
}

button {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  height: 35px;
  width: 150px;
  background-color: #1363b3;
  border: none;
  border-radius: 7px;
}
input, select{
  border-radius: 7px;
  height: 20px;
  border-color: #1363b3;
}

h1{
  font-weight: 700;
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
  height: 100%;
  
  
}

.dialog{
  padding: 10px;
  width: auto;
  height: 60px;
  text-align: center;
  border: 1px solid #2e75b6;
  border-radius: 15px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #909092;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.logo h1{
  font-size: 70px;
  font-weight: 700;
  margin-right: 15px;
}
.logo h2{
  font-size: 40px;
  font-weight: 500;
}

.container nav{
  width:650px;
  max-width: 650px;
}
.container nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav ul li {
  font-family: 'Roboto', sans-serif;
  padding-right: 20px;
  text-align: center;
}

.container nav ul li a{
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.container nav ul li a:hover{
  font-weight: 500;
  text-decoration: none;
  color: #1363b3;
}

.content{
  margin-top: 50px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.content .text-just{
  position: relative;
  padding-top: 80px;
  display: flex;
  width: 700px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
}

.content-home{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  vertical-align: bottom;
  margin-top: 170px;
}
.content .box{
  vertical-align: bottom;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  
}
.box-item h2{
  padding-bottom: 10px;
  font-weight: 700;
}
.box-item{
  text-align: justify;
  width: 30%;
  padding: 15px;
}
.box-item strong{
  font-weight: bold;
}

.content .text-just h1{
  position: absolute;
  top:15px;
  font-weight: 700;
}

.text-just .list{
  list-style: circle;
  padding-left: 25px;
  font-size: 15px;
  line-height: 20px;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: relative;
  margin-top: 40px;
  background-color: #ABC0E4;
}


.variavel{
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-right: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.content-right{
  margin-top: -40px;
  float: right;
  width: 300px ;
}
.content-right button{
  float: right;
}


.sub-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sub-menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-menu ul li a{
  font-weight: 500;
  text-decoration: none;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.sub-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
  padding: 12px 25px;
  border: 1px solid #2e75b6;
  background-color: #b4c7e7;
  border-radius: 7px;
}

.sub-menu ul li:hover {
  background:#2e75b6;
}

.sub-menu .active  {
  font-weight: 500;
  text-decoration: none;
  color: #000;
  font-family: 'Roboto', sans-serif;
  background:#2e75b6;
}